<div class="panel panel-default necesidad">

    <a ng-href="#/necesidad/{{::necesidad.id}}">
      <div class="row" ng-href="#/necesidad/{{::necesidad.id}}">
        <div class="col-xs-5 col-md-2">
          <div class="no-image">
            <img ng-src="{{::necesidad.thumb}}" width="100%"/>
          </div>
        </div>
        <div class="col-xs-7 col-md-10" style="padding:5px;padding-left:40px">
          <br>
          <h4>{{::necesidad.titulo}}</h4>
          <p>{{::necesidad.descripcion||'Sin descripción'}}</p>
        </div>
      </div>
    </a>
    <div class="panel-footer" style="height:40px">
      <div class="btn-group pull-right" style="">
        <a href="#/usuario/{{::necesidad.userId}}" class="">
          <i class="fa fa-user"></i> <span ng-if="necesidad.user"> {{::necesidad.user.name}}</span>
          <span ng-if="!necesidad.user">Ver perfil del usuario</span>
        </a>
      </div>
    </div>

</div>
