<div ui-content-for="title">
  Panel de administración
</div>

<div class="scrollable">
  <div class="scrollable-content">

    <div class="section">

      <div class="row">

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Últimas necesidades
                <a href="#/admin/necesidades" class="btn btn-default btn-xs pull-right">Ver todas</a>
              </h3>
            </div>
            <ul class="list-group">
              <a class="list-group-item" ng-repeat="necesidad in ctrl.dash.necesidades" href="#/necesidad/{{::necesidad.id}}">{{::necesidad.titulo}}</a>
            </ul>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Útimos comentarios
                <a href="#/admin/comentarios" class="btn btn-default btn-xs pull-right">Ver todos</a>
              </h3>
            </div>
            <ul class="list-group">
              <a class="list-group-item" ng-repeat="comentario in ctrl.dash.comentarios"
                href="#/necesidad/{{::comentario.necesidadId}}">
                {{::comentario.texto}}
              </a>
            </ul>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Útimos usuarios registrados
                <a href="#/admin/usuarios" class="btn btn-default btn-xs pull-right">Ver todos</a>
              </h3>
            </div>
            <ul class="list-group">
              <a class="list-group-item" ng-repeat="user in ctrl.dash.users"
                href="#/usuario/{{::user.id}}">
                {{::user.name}}
              </a>
            </ul>
          </div>

        </div>

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Links</h3>
            </div>
            <ul class="list-group">
              <a class="list-group-item" href="https://webmail.webfaction.com/">
                <i class="fa fa-envelope"></i> Correos electrónicos personalizados
              </a>
              <a class="list-group-item" href="https://www.google.com/analytics/web/?hl=es&pli=1#report/visitors-overview/a34193136w84670524p87763930/">
                <i class="fa fa-line-chart"></i> Estadísticas de google
              </a>
              <a class="list-group-item" href="mail:cedric.luckie@gmail.com">
                <i class="fa fa-life-ring"></i> Soporte
              </a>
            </ul>
          </div>

      </div>

    </div>

  </div>
</div>
