<!DOCTYPE html>
<html ng-app="app" ng-controller="MainController as app">
  <head>
    <meta charset="utf-8" />
    <title >Yo Necesito {{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="google-site-verification" content="xFmevoqPeMRGjNCYL7BdlWQZBRnJ3CXCATcxegWISBY" />
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
    <base href="/" />

    <meta property="og:url" content="https://yonecesito.com.mx">
    <meta property="og:site_name" content="Yo Necesito">
    <meta property="og:title" content="La nueva forma de comunicación para el comercio">
    <meta property="og:description" content="Expresa tus necesidades para que empresas, negocios y/o proveedores te contacten ofreciéndote sus mejores ofertas.">
    <meta property="og:image" content="http://yonecesito.com.mx/images/logo.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1200">


    <link rel="stylesheet" href="//cdn.jsdelivr.net/angular.ng-notify/0.6.3/ng-notify.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.8.0/loading-bar.min.css" />
    <link rel="stylesheet" href="/dist/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="/dist/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="/dist/css/mobile-angular-ui-desktop.min.css" />
    <link rel="stylesheet" href="/css/sweetalert.css" />
    <link rel="stylesheet" href="/css/mobile.css" />

    <!-- <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>   -->
    <script src="socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.min.js"></script>
    <script src="/dist/js/mobile-angular-ui.min.js"></script>
    <!-- Required to use $touch, $swipe, $drag and $translate services -->
    <script src="/dist/js/mobile-angular-ui.gestures.min.js"></script>
    <script src="//cdn.jsdelivr.net/angular.ng-notify/0.6.3/ng-notify.min.js"></script>

    <script src="js/build.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-34193136-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body
    ui-prevent-touchmove-defaults
    >

    <!-- Sidebars -->
    <div ng-include="'scripts/shared/sidebar.html'"
            ui-track-as-search-param='true'
            class="sidebar sidebar-left"></div>

    <div ng-include="'scripts/shared/sidebarRight.html'"
            class="sidebar sidebar-right"></div>

    <div class="app"
         ui-swipe-right='Ui.turnOn("uiSidebarLeft")'
         ui-swipe-left='Ui.turnOff("uiSidebarLeft")'>

      <!-- Navbars -->

      <div class="navbar navbar-app navbar-absolute-top" id="topmenu">
        <div class="navbar-brand navbar-brand-center hidden-xs" ui-yield-to="title">
          La nueva forma de comunicación para el comercio
        </div>
        <div class="btn-group pull-left">
          <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
            <i class="fa fa-bars"></i> Menu
          </div>
        </div>

        <div class="btn-group">
          <input type="text"
            ng-model="search"
            class="form-control input-search"
            placeholder="Buscar necesidad"
            ng-change="app.buscar(search)">
        </div>


        <div class="btn-group pull-right" ui-yield-to="navbarAction" ng-if="app.user.id">
          <a  class="btn" ui-toggle="uiSidebarRight">{{app.user.name}}</a>
          <!-- href="#/perfil" -->
        </div>
        <div class="btn-group pull-right" ui-yield-to="navbarAction" ng-if="!app.user.id">
          <a class="btn" href="/login">
            Iniciar sesión
          </a>
        </div>
      </div>

      <!-- App Body -->
      <div class="app-body" ng-class="{loading: loading}">
        <div ng-show="loading" class="app-content-loading">
          <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
        <busqueda ng-if="app.resultados"></busqueda>
        <div class="app-content" ng-hide="app.resultados">
          <ng-view></ng-view>
        </div>
      </div>

    </div><!-- ~ .app -->


  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.8.0/loading-bar.min.js"></script>
  <script src="/js/sweetalert.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  </body>
</html>
