<div class="air"></div>

<md-fab-speed-dial id="fab-speed-dial"  md-direction="{{demo.selectedDirection}}"
                   ng-class="demo.selectedMode">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-warn">
      <i class="fa fa-plus"></i>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <a href="#/documento/capturar">
      <md-button aria-label="facebook" class="md-fab md-raised md-mini">
        <md-tooltip md-direction="left">Tomar foto</md-tooltip>
        <i class="fa fa-camera"></i>
      </md-button>
    </a>

    <md-button aria-label="Google hangout" id="upload" class="md-fab md-raised md-mini">
      <label for="file_input">
        <i class="fa fa-upload"></i>
        <input type="file" name="file" id="file_input" onchange="angular.element(this).scope().subir(this.files)"/>
      </label>
      <md-tooltip md-direction="left">Subir archivo</md-tooltip>

    </md-button>
    <!-- <a href="#/documento/subir">
      <md-button aria-label="Google hangout" class="md-fab md-raised md-mini">
        <md-tooltip md-direction="left">Subir archivo</md-tooltip>
        <i class="fa fa-upload"></i>
      </md-button>
    </a> -->
  </md-fab-actions>
</md-fab-speed-dial>
