<md-toolbar md-scroll-shrink style="position:fixed">
  <div class="md-toolbar-tools">
    <h3 id="logo">
      <!-- <i class="fa fa-file-o"></i> -->
      <span>Doxter</span>
    </h3>

    <span flex></span>

    <div class="hidden-sm">
      <form class="form-inline" ng-controller="DocumentSearchCtrl as DocumentSearchCtrl" ng-submit="DocumentSearchCtrl.search()" >

        <div class="form-group">
          <input
            type="text"
            placeholder="Buscar documento"
            class="form-control hidden-sm"
            ng-model="DocumentSearchCtrl.string"
            style="width:300px">
        </div>
        <button type="submit" class="btn btn-default">
          <i class="fa fa-search"></i>
        </button>
        <button type="submit" class="btn btn-default" ng-click="DocumentSearchCtrl.searchTag()">
          <i class="fa fa-tags"></i>
        </button>
      </form>
    </div>




    <!-- <md-input-container flex>
      <label>Título</label>
      <input ng-model="DocumentCtrl.document.title">
    </md-input-container> -->
    <span flex></span>

    <md-button ng-click="toggleLeft()" aria-label="Menú" hide-gt-md>
      <i class="fa fa-bars"></i>
    </md-button>
    <md-button ng-click="toggleRight()" aria-label="Actividad reciente" class="md-icon-button">
      <i class="fa fa-bell"></i>
    </md-button>


    <md-menu>
      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu()">
        <i class="fa fa-cog"></i>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item>
          <md-button aria-label="Algo" ng-click="ctrl.redial($event)">
            <i class="fa fa-life-ring paddleft"></i>
            Soporte
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button aria-label="ALgo" ng-click="ctrl.redial($event)">
            <i class="fa fa-cogs paddleft"></i>
            Configuración
          </md-button>
        </md-menu-item>
        <md-menu-item>

          <a href="/logout">
            <md-button aria-label="ALgo" ng-click="ctrl.redial($event)">
            <i class="fa fa-sign-out paddleft"></i>
            Cerrar sesión
            </md-button>
          </a>

        </md-menu-item>

      </md-menu-content>
    </md-menu>


  </div>
</md-toolbar>
<hr>
<br>
