<div class="scrollable">
  <div class="scrollable-content">
      <div class="list-group" ui-toggle="uiSidebarRight">

        <a href="#/usuario/{{app.user.id}}" class="list-group-item">
          <img src="{{app.user.picture}}" alt="" with="100%"></a>

        <a class="list-group-item" href="#/perfil" ng-if="app.user.id">
           Configuración </a>
        <a class="list-group-item" href="#/password">
           Cambiar contraseña</a>
        <a class="list-group-item" href="/logout" ng-if="app.user.id">
           Cerrar sesión </a>

      </div>

      <h3 align="center">Mis necesidades</h3>

      <ul class="list-group">
        <a ng-repeat="n in app.user.necesidades" class="list-group-item" href="#/necesidad/{{n.id}}">{{n.titulo}}</a>
      </ul>

  </div>
</div>
