<div ui-content-for="title">
  <span><a href="#/">Inicio</a> > <a href="#/categoria/{{DetalleCtrl.necesidad.categoria.clave}}">{{DetalleCtrl.necesidad.categoria.titulo}}</a></span>
</div>

<div class="scrollable section" ng-if="DetalleCtrl.necesidad" >
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">

        <div class="row">
          <div class="col-md-5" >
            <img ng-if="DetalleCtrl.necesidad.foto" ng-src="{{::DetalleCtrl.necesidad.foto}}" alt="">
            <div ng-if="!DetalleCtrl.necesidad.foto" class="no-image-big"></div>

          </div>
          <div class="col-md-7">

            <h1>
              {{DetalleCtrl.necesidad.titulo}}

            </h1>
            <p>
              <div class="btn btn-group">
                <a href="#/necesidad/{{::DetalleCtrl.necesidad.id}}/editar"
                  ng-if="app.user.id == DetalleCtrl.necesidad.userId"
                  class="btn btn-default"><i class="fa fa-edit"></i> Editar necesidad</a>
                <a href="#/usuario/{{::DetalleCtrl.necesidad.user.id}}" class="btn btn-default">
                   Ver perfil de {{::DetalleCtrl.necesidad.user.name}}
                </a>
                <a
                  href="#/categoria/{{DetalleCtrl.necesidad.categoria.clave}}" class="btn btn-default">
                   Categoría: {{::DetalleCtrl.necesidad.categoria.titulo}}
                </a>
              </div>
            </p>

            <hr>

            <div class="row">

              <div class="col-sm-12">
                <p ng-if="DetalleCtrl.necesidad.createdAt">
                  <strong>Fecha:</strong> {{::DetalleCtrl.necesidad.createdAt|date:'dd/MM/yyyy'}}
                </p>
                <p>
                  <strong>Información adicional:</strong>
                  {{DetalleCtrl.necesidad.descripcion}}
                </p>
              </div>

            </div>


          </div>

        </div>


      </div>


    </div>


    <!-- Publicar comentario -->
    <div class="panel panel-default" ng-controller="NuevaNecesidadCtrl as NuevaNecesidadCtrl">
      <div class="panel-body">
        <h2 align="center">Comentarios</h2>
        <textarea
            rows="3"
            placeholder="Deja un comentario / Ofrece una solución / Recomienda a alguien"
            ng-model="DetalleCtrl.ComentarioForm.texto"
            class="form-control"></textarea>
      </div>
      <div class="panel-footer" ng-if="DetalleCtrl.ComentarioForm.texto.length>0">

        <button class="btn btn-primary pull-right" ng-click="DetalleCtrl.comentar()">
          <i class="fa fa-save"></i> Enviar comentario
        </button>
        <br>
        <br>

      </div>
    </div>

    <!-- Comentarios -->
    <div class="panel panel-default" ng-repeat="comentario in DetalleCtrl.necesidad.comentarios">
      <div class="panel-heading" style="min-height:50px">
        <div class="pull-right">
          <a href="javascript:;"
            ng-hide="comentario.util"
            ng-click="DetalleCtrl.util(comentario)" class='btn btn-primary'>
            !Esto es lo que necesito!
          </a>
          <a href="#/usuario/{{::comentario.userId}}" class='btn btn-default'>
            Ver perfil
          </a>
        </div>
        <h3 class="panel-title">
          <span ng-show="comentario.util" class="badge necesidad-util">
            <i class="fa fa-star"></i> Respuesta útil
          </span>
          {{::comentario.createdAt|date:'dd/MM/yyyy'}}</h3>
      </div>
      <div class="panel-body">
        {{::comentario.texto}}
      </div>
    </div>

  </div>
</div>
