<div ui-content-for="title">
  <span><a href="#/">Inicio</a> > <a href="#/categoria/{{DetalleCtrl.necesidad.categoria.clave}}">{{DetalleCtrl.necesidad.categoria.titulo}}</a></span>
</div>

<div class="scrollable section" ng-if="DetalleCtrl.necesidad" >
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">

        <div class="row">
          <div class="col-md-6">
            <img ng-src="{{::DetalleCtrl.necesidad.foto}}" alt="">
          </div>
          <div class="col-md-6">

            <h1>
              {{DetalleCtrl.necesidad.titulo}}

            </h1>
            <p>
              <div ng-if="app.user.id == DetalleCtrl.necesidad.userId">
                <a href="#/necesidad/{{::DetalleCtrl.necesidad.id}}/editar" class="btn btn-default"><i class="fa fa-edit"></i> Editar necesidad</a>
              </div>
            </p>

            <hr>

            <div class="row">
              <div class="col-sm-4" ng-if="DetalleCtrl.necesidad.createdAt">
                <strong>Fecha:</strong> {{::DetalleCtrl.necesidad.createdAt|date:'dd/MM/yyyy'}}
              </div>
              <div class="col-sm-6">
                <strong>Usuario:</strong> {{::DetalleCtrl.necesidad.user.name}}
              </div>
              <div class="col-sm-12">
                <hr>
                <strong>Información adicional:</strong>
                <p>
                  {{DetalleCtrl.necesidad.descripcion}}
                </p>
              </div>

            </div>


          </div>

        </div>


      </div>


    </div>


    <!-- Publicar comentario -->
    <div class="panel panel-default" ng-controller="NuevaNecesidadCtrl as NuevaNecesidadCtrl">
      <div class="panel-body">
        <h2 align="center">Comentarios</h2>
        <textarea
            rows="3"
            placeholder="Deja un comentario / Ofrece una solución / Recomienda a alguien"
            ng-model="DetalleCtrl.ComentarioForm.texto"
            class="form-control"></textarea>
      </div>
      <div class="panel-footer" ng-if="DetalleCtrl.ComentarioForm.texto.length>0">

        <button class="btn btn-primary pull-right" ng-click="DetalleCtrl.comentar()">
          <i class="fa fa-save"></i> Enviar comentario
        </button>
        <br>
        <br>

      </div>
    </div>

    <!-- Comentarios -->
    <div class="panel panel-default" ng-repeat="comentario in DetalleCtrl.necesidad.comentarios">
      <div class="panel-heading">
        <div class="btn-group pull-right">
          <a href="#/usuario/{{::comentario.userId}}" class='btn'>
            Ver perfil
          </a>
        </div>
        <h3 class="panel-title">{{comentario.createdAt|date:'dd/MM/yyyy'}}</h3>
      </div>
      <div class="panel-body">
        {{comentario.texto}}
      </div>
    </div>

  </div>
</div>
