
    <md-card>

      <img src="api/documents/{{DocumentCtrl.document.id}}/file" class="md-card-image" alt="" />
      <md-card-content>
        <md-input-container flex>
          <label>Título</label>
          <input ng-model="DocumentCtrl.document.title">
        </md-input-container>
        <md-input-container flex>
          <label>Descripción</label>
          <input ng-model="DocumentCtrl.document.description">
        </md-input-container>

        <h3>Etiquetas</h3>
        <p>
          Se utilizan para <strong>clasificar</strong> los documentos de manera en la que sea fácil organizarlos y generar reportes.
        </p>
        <md-chips ng-model="DocumentCtrl.chips" readonly="false" placeholder="Chips!"></md-chips>

        <div ng-show="DocumentCtrl.tags.length>0">
          <h3>OCR</h3>
          <p>
            Palabras que fueron reconocidas por nuestro sistema dentro del documento
          </p>
          <div class="btn-group">
              <label
                ng-repeat="tag in DocumentCtrl.tags track by $index"
                class="btn btn-default"
                ng-model="checkModel.left"
                ng-click="DocumentCtrl.addTag(tag)"
                  btn-checkbox>{{::tag}}</label>
          </div>
        </div>

      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button ng-click="DocumentCtrl.editDocument()">Guardar cambios</md-button>
        <md-button>Action 2</md-button>
      </div>
    </md-card>
