<div layout="column" layout-align="center start">
  
  <div ng-show="progress">
      <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
  </div>
    <div layout-align="center start" layout-fill>
        <div layout-wrap layout="column" layout-align="center center">
            <div ng-show="files[0]">
                <md-button data-ng-disabled="(files[0]) && (progress === true)" class="md-fab" ng-click="upload($event)" style="width: 100px; height: 100px">
                    <i class="fa fa-upload fa-2x"></i>
                    <md-tooltip md-direction="right" md-delay="100" md-autohide="true">
                        Subir archivo
                    </md-tooltip>
                </md-button>
            </div>
            <div style="height: 400px;" layout-margin >
                <md-whiteframe class="md-whiteframe-z5" layout="row" layout-align="center center" layout-fill
                               ngf-drop ngf-max-size='4000000' ngf-allow-dir="true" ngf-select="true" ngf-capture="capture"
                               ng-model="files" ngf-drag-over-class="upload-bg-color" ngf-multiple="false" accept="image/*">
                        <md-card ng-show="files[0]">
                            <md-progress-linear ng-show="progress" md-mode="indeterminate"></md-progress-linear>
                            <img ngf-src="files[0]" ngf-accept="'image/*'">
                        </md-card>
                    <div ng-hide="files[0]" class="md-display-1" layout-margin layout-padding>
                        Selecciona un archivo o arrastra aqui
                    </div>
                </md-whiteframe>
            </div>
        </div>
    </div>
    <div layout-fill layout-margin layout-padding>
        <div layout="row" layout-align="center end">
            <!--© 2015 Minhaj Mehmood.-->
        </div>
    </div>
</div>
