<div ui-content-for="title">
  <span>
    {{ctrl.user.name}}
  </span>
</div>

<div class="scrollable">
  <div class="scrollable-content">

    <div class="section">

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <img src="{{::ctrl.user.picture}}" class="image-full" />
            <div class="panel-body">
              <h1>{{::ctrl.user.name}} <small>{{ctrl.user.type|uppercase}}</small></h1>
              <p>
                {{::ctrl.user.details}}
              </p>
              <table class="table">
                <tr>
                  <th>Sitio web</th>
                  <td>{{::ctrl.user.website}}</td>
                </tr>
                <tr ng-if="ctrl.user.type=='empresa'">
                  <th>Teléfono</th>
                  <td>{{::ctrl.user.phone}}</td>
                </tr>
                <tr ng-if="ctrl.user.type=='empresa'">
                  <th>Dirección</th>
                  <td>{{::ctrl.user.address}}</td>
                </tr>
                <tr>
                  <th>Necesidades publicadas</th>
                  <td>{{::ctrl.user.necesidades.length}}</td>
                </tr>
                <tr>
                  <th>Ofertas publicadas</th>
                  <td>{{::ctrl.user.comentarios.length}}</td>
                </tr>

              </table>
            </div>
          </div>

        </div>

      </div>

    </div>








  </div>
</div>

<style media="screen">

</style>

<!--
<div class="card hovercard" ng-if="ctrl.user.picture">
    <div class="card-background">
        <img class="card-bkimg" alt="" src="{{::ctrl.user.picture}}">
    </div>
    <div class="useravatar">
        <img alt="" src="{{::ctrl.user.picture}}">
    </div>
    <div class="card-info"> <span class="card-title">{{::ctrl.user.name}}</span>

    </div>
</div>
<div class="panel panel400H section">
  <ui-state id='activeTab' default='1'></ui-state>

    <ul class="nav nav-tabs">
      <li ui-class="{'active': activeTab == 1}" style="width:33%">
        <a ui-set="{'activeTab': 1}">Información general</a>
      </li>
      <li ui-class="{'active': activeTab == 2}" style="width:33%">
        <a ui-set="{'activeTab': 2}">Necesidades publicadas</a>
      </li>
      <li ui-class="{'active': activeTab == 3}" style="width:33%">
        <a ui-set="{'activeTab': 3}">Comentarios</a>
      </li>
    </ul>

    <div ui-if="activeTab == 1">
      <br>

    </div>

    <div ui-if="activeTab == 2">
      <div style="margin:20px">
        <div  ng-repeat="necesidad in ctrl.user.necesidades">
          <necesidad-item necesidad="necesidad"></necesidad-item>
        </div>
      </div>
    </div>

    <div ui-if="activeTab == 3">
      <div style="margin:20px">
        <div  ng-repeat="comentario in ctrl.user.comentarios">
          <comentario comentario="comentario"></comentario>
        </div>
      </div>
    </div>
</div> -->
